* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

#content {
  background-color: white !important;
}

#test .container .title {
  border-bottom: 1px solid #666666;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 7px;
}

#test .container .search {
  margin-top: 15px;
}

#test .container .search .u-col-3 .label {
  display: inline-block;
}

#test .container .search .u-col-3 .u-combo {
  display: inline-block;
  width: auto;
}

#test .container .search .u-col-3 .u-combo .u-input {
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  width: 80%;
}

#test .container .search .u-col-3 .u-combo span {
  position: relative;
  left: -30px;
}

#test .container .search .u-col-3:last-child .u-button {
  height: 25px;
  line-height: 15px;
}

#test .container .grid {
  margin-top: 30px;
}

#test .container .grid .u-grid-header .u-grid-header-left {
  background: cornflowerblue;
}

#test .container .grid .u-grid-header #grid_header_thead th {
  background: cornflowerblue;
}

#test .container .grid .u-grid-content .u-grid-content-left div:nth-child(odd) {
  background: #6d8764;
}

#test .container .grid .u-grid-content tr:nth-child(odd) {
  background: #6d8764;
}

.u-msg-dialog .u-msg-close span {
  font-size: 30px;
  position: relative;
  top: -20px;
}

.u-msg-dialog #dialog1 {
  background: white;
  padding: 20px;
}

.u-msg-dialog #dialog1 .head span {
  color: black;
  border: 1px solid blue;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 8px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  margin-right: 15px;
  cursor: pointer;
  user-select: none;
}
